

body
{
    background-color: black;
margin:0
}

#maintext
{
  font-size: 60px;
  letter-spacing: 10px;
}

#sidetext{
font-size: 18px;
}
.in-middle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

i.fa::before{
  font-size: 25px;
}

.audio{
  position: fixed;
top: 7px;
  background-color: transparent;
  color: white;
  background-repeat:no-repeat;
border: none;
  background: linear-gradient(90deg, rgba(99,0,0,1) 0%, rgba(145,2,2,1) 10%, rgba(200,0,101,1) 20%, rgba(228,0,185,1) 30%, rgba(140,0,199,1) 40%, rgba(83,0,237,1) 50%, rgba(140,0,199,1) 60%, rgba(228,0,185,1) 70%, rgba(200,0,101,1) 80%, rgba(145,2,2,1) 90%, rgba(99,0,0,1) 100%);
  background-size: 400% 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 15s reverse infinite;
  font-family: sfbold;
}


.gradient{
  background: linear-gradient(90deg, rgba(99,0,0,1) 0%, rgba(145,2,2,1) 10%, rgba(200,0,101,1) 20%, rgba(228,0,185,1) 30%, rgba(140,0,199,1) 40%, rgba(83,0,237,1) 50%, rgba(140,0,199,1) 60%, rgba(228,0,185,1) 70%, rgba(200,0,101,1) 80%, rgba(145,2,2,1) 90%, rgba(99,0,0,1) 100%);
    background-size: 400% 400%;
    font-family: sfbold;
    letter-spacing: 1px;
    font-weight: 600;
    word-spacing: 0px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 15s reverse infinite;
    
}
@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#btn {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
  }

@font-face {
    font-family: "sf";
    src: local("sf"),
     url(../fonts/SF-Pro.ttf) format("truetype");
  }

  @font-face {
    font-family: "sfbold";
    src: local("sfbold"),
     url(../fonts/SF-Pro-Display-Black.otf) format("opentype");
  }
  
  @media screen and (max-width: 479px) {
    #maintext{
     font-size: 30px;
    }
    #sidetext{
      font-size: 9px;
    }
    i.fa::before{
      font-size: 15px;
  }
   }